<div class="container">


        <div class="row">
            <h1>Electron Timer</h1>
    
            <div class="progress-wrapper" *ngIf="maxVal">
    
                <div class="text" *ngIf="!isFinished">
                    {{ max - current | number: '1.1-1' }}
                </div>
    
               
    
                <round-progress [max]="max" [current]="current" [radius]="100" [stroke]="25">
                </round-progress>
    
            </div>
        </div>
    
        <div class="row botones">
            <div class="row">
                <label>Seconds</label>
                <input class="input" placeholder="number of seconds" type="text" [(ngModel)]="max" (keydown)="reset()">
    
                <div class="row">
    
                    <button *ngIf="currentVal <= 0" (click)="start()">Start</button>
                    <button *ngIf="!isFinished" (click)="finish()">Finish</button>
                    <button  (click)=" reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>