/* You can add global styles to this file, and also import other style files */


.botones{
    padding-top: 30px;
}

.container{
    text-align: center;
}

.centrar{
    text-align: -webkit-center;

}